<div class="mt-4">
<form method="POST" action="">
  <div class="form-group">
    <label for="search-input" class="form-label">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
  </div>

  <div class="mt-4">
  <div class="form-group">
    <label for="gender-input" class="form-label">Từ khóa</label>
    <select name="gender" class="form-control" id="search-input">
        <option value="">-- Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
  </div>
  </div>
  
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </div>
  
</form>
</div>